<!DOCTYPE html>
{% load static %}
 
<html>
<head>
<title>{{ post.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
body, html {
	
	}
</style>
<link href="{% static 'css/tutorial.css' %}" type='text/css' rel='stylesheet'>
<script type="text/javascript" src="{% static '' %}"></script>
</head>

<body>
	<div class='title'>{{ post.title }}</div>
	{% for step in steps %}
		<div class='stepimg'><img src="{% static 'media/' %}{{ step.pic }}"></div>
		<div class='stepconent'><span class='order'>{{ step.steps }}. </span>{{ step.content }}</div>
	{% endfor %}
</body>
</html> 
